<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="Lorenzo Baronio">
		<link rel="icon" href="/static/img/logo/logo.png">

		<title>Studio PEZ</title>

		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link href="/static/font/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/app.css">
	</head>
	<body class="w3-fabrica" >

<!-- Navigation Bar Mobile-->
		<div class="w3-hide-large">
			<div id="sidebar" class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left">
				<a class="w3-bar-item w3-button" href="#carousel" ><img src="/static/img/logo.png" alt="Logo dello studio PEZ"></a>
				<a class="w3-bar-item w3-button" href="#chi_siamo">CHI SIAMO</a>
				<a class="w3-bar-item w3-button" href="#casa">CASA</a>
				<a class="w3-bar-item w3-button" href="#persona">PERSONA</a>
				<a class="w3-bar-item w3-button" href="#fisco">FISCO</a>
				<a class="w3-bar-item w3-button" href="#contattaci">CONTATTI</a>
				<a class="w3-bar-item w3-button" href="#"><img class="facebook" src="/static/img/Facebook-Over.png" alt="Icona Facebook"></a>
			</div>
		</div>
<!-- End Navigation Bar Mobile-->

<!-- Navigation Bar Desktop -->
		<div class="w3-hide-medium w3-hide-small w3-center">
			<div id="navbar" class="w3-navbar w3-advance-architect">
				<a href="#carousel" id="navbar-logo" class="w3-bar-item w3-padding-large">
					<img class="w3-image" src="/static/img/logo.png"  alt="Logo dello studio PEZ">
				</a>
				<a href="#chi_siamo" class="w3-padding-large w3-bar-item w3-button w3-border-white w3-hover-none w3-topbar w3-hover-border-grey">
					CHI SIAMO
				</a>
				<a href="#casa" class="w3-padding-large w3-bar-item w3-button w3-border-white w3-hover-none w3-topbar w3-hover-border-red w3-hover-text-red">
					CASA
				</a>
				<a href="#persona" class="w3-padding-large w3-bar-item w3-button w3-border-white w3-hover-none w3-topbar w3-hover-border-blue w3-hover-text-blue">
					PERSONA
				</a>
				<a href="#fisco" class="w3-padding-large w3-bar-item w3-button w3-border-white w3-hover-none w3-topbar w3-hover-border-green w3-hover-text-green">
					FISCO
				</a>
				<a href="#contattaci" class="w3-padding-large w3-bar-item w3-button w3-border-white w3-hover-none w3-topbar w3-hover-border-grey">
					CONTATTI
				</a>
				<a href="#" class="w3-bar-item w3-padding-large">
					<img class="facebook w3-image w3-circle" src="/static/img/Facebook-Over.png"  alt="Icona Facebook">
				</a>
			</div>
		</div>
<!-- End Navigation Bar Desktop-->

		<div class="w3-main">
			<span id="open-close" class="w3-top w3-white w3-left-align w3-button w3-hide-large">&#9776;</span>

<!-- Carousel -->
			<div id="carousel" class="w3-display-container w3-section w3-center">
				<div class="w3-display-container w3-animate-zoom slides">
					<a href="#chi-siamo"><img src="/static/img/home.jpg" class="w3-image"  alt="Slide 1: vetrina con logo dello studio"></a>
				</div>
				<div class="w3-display-container w3-animate-zoom slides">
					<img src="/static/img/casa.jpg" class="w3-image"  alt="Slide 2: Casa">
					<div class="w3-display-middle">
						<a href="#casa"><img class="w3-image" src="/static/img/casa_titolo.png"  alt="Icona casa"></a>
					</div>
				</div>
				<div class="w3-display-container w3-animate-zoom slides">
				<img src="/static/img/persona.jpg" class="w3-image"  alt="Slide 3: persona">
					<div class="w3-display-middle">
						<a href="#persona"><img class="w3-image" src="/static/img/persona_titolo.png" alt="icona persona"></a>
					</div>
				</div>
				<div class="w3-display-container w3-animate-zoom slides">
					<img src="/static/img/fisco.jpg" class="w3-image" alt="Slide 4: fisco">
					<div class="w3-display-middle">
						<a href="#fisco"><img class="w3-image" src="/static/img/fisco_titolo.png" alt="icona fisco"></a>
					</div>
				</div>
			</div>
<!-- End Carousel -->

<!-- Chi siamo -->
			<div id="chi_siamo" class="w3-section w3-container w3-center w3-white">
				<img class="w3-image" src="/static/img/studio_pez_descrizione.png" alt="logo studio esteso">
				<div class="w3-container w3-center">
					<p class="w3-large w3-padding">
						Da più di 30 anni presente sul territorio di Parma e Reggio Emilia, lo Studio Pez snc opera in 3 aree principali:
					</p>
					<div class="w3-row">
						<div class="w3-third">
							<img class="w3-image w-80" src="/static/img/casa_chi_siamo.png" alt="Immagine titoletto casa">
							<p class="bold">
								Amministrazioni Condominiali, Contratti di Locazione
							</p>
						</div>
						<div class="w3-third">
							<img class="w3-image w-80" src="/static/img/persona_chi_siamo.png"  alt="immagine titoletto persona">
							<p class="bold">
								Patronato con assistenza gratuita in materia previdenziale e assistenziale
							</p>
						</div>
						<div class="w3-third">
							<img class="w3-image w-80" src="/static/img/fisco_chi_siamo.png"  alt="immagine titoletto fisco">
							<p class="bold">
								Dichiarazioni dei redditi (modello 730/UNICO), Calcolo imposte sugli immobili, Dichiarazioni ISEE, Successioni ereditarie, Contratti COLF-BADANTI, ecc.
							</p>
						</div>
					</div>
					<p>
						Attualmente lo Studio ha uffici a Parma e a Sorbolo (PR). Lo Studio unisce l’<b>esperienza</b> e la <b>competenza</b> che vengono da tanti anni di attività,
						supportata da un costante aggiornamento, all’<b>energia</b> e alla <b>voglia di fare</b> proveniente dalle nuove figure inserite negli ultimi anni.
						I valori principali a cui lo Studio Pez cerca di ispirarsi in tutto il suo operato sono la <b>correttezza professionale</b> e la <b>disponibilità</b>,
						nella convinzione che questo è ciò che un cliente soprattutto vuole: <b>potersi fidare</b> e avere un <b>facile accesso</b> per risolvere velocemente i propri problemi.
					</p>
				</div>

				<div class="w3-row-padding w3-center w3-hide-medium w3-hide-small">
					<div class="w3-card w3-col l2 m2 ">
						<img class="w3-image" src="/static/img/ValerioBassi.jpg" alt="Profilo JasonDoe">
						<div class="w3-container w3-center">
							<p><b>Valerio<br/>Bassi</b>
							<p></b>contitolare dello Studio Pez snc e amministratore di condominio</p>
						</div>
					</div>
					<div class="w3-card w3-col l2 m2 ">
						<img class="w3-image" src="/static/img/JessicaFranchetti.jpg" alt="Profilo JasonDoe">
						<div class="w3-container w3-center">
							<p><b>Jessica J. <br/>Franchetti</b></p>
							<p class="w3-small">contitolare dello Studio Pez snc, responsabile del CAF Labor e del settore contabilità delle gestioni condominiali</p>
						</div>
					</div>
					<div class="w3-card w3-col l2 m2 ">
						<img class="w3-image" src="/static/img/AlcidePez.jpg" alt="Profilo JasonDoe">
						<div class="w3-container w3-center">
							<p><b>Alcide<br/>Pez</b></p>
							<p>fondatore dello Studio Pez e ora consulente dello Studio</p>
						</div>
					</div>
					<div class="w3-card w3-col l2 m2 ">
						<img class="w3-image" src="/static/img/MarziaBeniamini.jpg" alt="Profilo JasonDoe">
						<div class="w3-container w3-center">
							<p><b>Marzia</br>Beniamini</b></p>
							<p>responsabile del Patronato Labor</p>
						</div>
					</div>
					<div class="w3-card w3-col l2 m2 ">
						<img class="w3-image" src="/static/img/SimonaBonfiglioli.jpg" alt="Profilo JasonDoe">
						<div class="w3-container w3-center">
							<p><b>Simona</br>Bonfiglioli</b></p>
							<p>operatrice del Patronato Labor</p>
						</div>
					</div>
					<div class="w3-card w3-col l2 m2 ">
						<img class="w3-image" src="/static/img/SamanthaThei.jpg" alt="Profilo JasonDoe">
						<div class="w3-container w3-center">
							<p><b>Samantha<br/>Thei</b></p>
							<p>impiegata</p>
						</div>
					</div>
				</div>
			</div>
<!-- End Chi Siamo-->

<!-- Casa -->
			<div id="casa" class="w3-container w3-center w3-section">
				<div class="w3-border-red bottom-border">
					<img class="w3-image" src="/static/img/casa_descrizione.png" alt="Immagine titoletto casa">
				</div>
				<div class="w3-row-padding">
					<div class="w3-twothird">
						<h3 class="w3-advance-architect">Amministrazione di condomini</h3>
						Lo Studio Pez snc amministra più di 100 Condominii a Parma (città e provincia) e nella provincia di Reggio Emilia. Siamo in grado di offrire tutti i servizi richiesti per un’efficiente gestione condominiale:
						<ul class="w3-left-align">
						<li>Ordinaria amministrazione, con <b>tenuta della contabilità e redazione dei bilanci, pagamento dei fornitori, esecuzione delle delibere assembleari</b>, risoluzione delle problematiche via via emergenti
						<li><b>Adempimenti fiscali</b> richiesti dalle nuove normative: modello 770, quadro AC, pagamenti delle ritenute d’acconto e rilascio delle relative certificazioni
						<li><b>Recupero crediti</b> verso condomini morosi
						<li>Gestione <b>lavori straordinari</b> deliberati dall’assemblea condominiale
						<li>Pratiche per <b>detrazioni IRPEF</b> del 36%, 50%, 65%, ecc.
						<li>Gestione <b>sinistri assicurativi</b>
						<li>Redazione <b>tabelle millesimali e regolamenti condominiali</b>
						<li>Verifica e <b>controllo bilanci</b> condominiali
						<li><b>Consulenza</b> in materia condominiale
						</ul>
						<b>Buon senso, rapidità di risposta, attenzione a contenere il più possibile i costi, massima trasparenza gestionale</b> sono le caratteristiche principali con cui amministriamo i nostri Condominii.
						<h3 class="w3-advance-architect">Contratti di locazione</h3>
						Lo Studio Pez snc è in grado di offrire un’assistenza completa per la <b>redazione, registrazione, rinnovo e disdetta dei contratti di locazione</b>.  A richiesta, può occuparsi anche di svolgere tutte le pratiche necessarie per l’<b>allaccio o la disdetta delle utenze domestiche e/o commerciali</b> (luce, gas, acqua, telefono) degli immobili locati e per la redazione degli <b>attestati di prestazione energetica</b> (APE).
					</div>
					<div class="w3-third w3-hide-small tm-20">
						<img class="w3-image" src="/static/img/casa.png" alt="Immagine abbellimento casa">
					</div>
				</div>
			</div>
<!-- End Casa -->
<!--Persona -->
			<div id="persona" class="w3-container w3-center w3-section">
				<div class="w3-border-blue bottom-border">
					<img class="w3-imgage" src="/static/img/persona_descrizione.png" alt="Immagine titoletto persona">
				</div>
				<div class="w3-row-padding">
					<div class="w3-third w3-hide-small tm-20">
						<img class="w3-image" src="/static/img/persona.png" alt="Immagine abbellimento persona">
					</div>
					<div class="w3-twothird">
						<br/>
						Lo Studio Pez snc è partner di <b>PATRONATO LABOR</b> (promosso da Confeuro), ospitandone gli uffici per Parma città, provincia e bassa reggiana. I Patronati sono una sorta di <b>sportello per il cittadino</b>, dove è possibile trovare <b><u>assistenza gratuita</u></b> su una molteplicità di necessità e richieste, soprattutto in materia previdenziale e assistenziale.
						Elenchiamo di seguito alcune delle materie per le quali offriamo la nostra assistenza:
						<ul class="w3-left-align">
						<li><b>Pensioni</b> (di invalidità, di vecchiaia,di anzianità, di inabilità, di reversibilità, complementari, ecc.)
						<li><b>Assegni familiari</b> e per nuclei familiari con più di tre figli
						<li>Indennità di <b>disoccupazione</b> e di <b>mobilità</b>
						<li>Indennità per <b>maternità</b>
						<li>Indennità di <b>accompagnamento</b>
						<li>Denuncia, recupero e <b>regolarizzazione contributive</b>
						<li>Richiesta, verifica e rettifica sulle <b>posizioni assicurative</b>
						<li><b>Versamenti volontari, contributi figurativi</b>
						<li>Riconoscimento <b>malattia professionale</b>, infortunio non denunciato, danno biologico, diritto a rendita, indennità temporanea, equo indennizzo, assegno giornaliero
						<li>Richiesta <b>cure termali</b>, protesi, accertamenti diagnostici specifici, assegno assistenza personale continuativa, rimborso medicinali, assegno di incollocabilità grandi invalidi, spese di viaggio/diaria/indennità sostitutiva salario, liquidazione in capitale della rendita
						<li>Riconoscimento <b>stato di handicap o di idoneità al servizio</b>
						<li>Assegno o pensione di <b>invalidità civile</b>
						<li>Pensione <b>ciechi, sordomuti, di guerra</b>
						<li><b>Pensione o assegno sociale</b>
						<li>Richiesta o rinnovo <b>permesso di soggiorno, ricongiungimento familiare</b>
						</ul>
					</div>
				</div>
			</div>
<!-- End Persona -->
<!-- Fisco -->
			<div id="fisco" class="w3-container w3-center w3-section">
				<div class="w3-border-green bottom-border">
					<img class="w3-imgage" src="/static/img/fisco_descrizione.png" alt="Immagine titoletto fisco">
				</div>
				<div class="w3-row-padding">
					<div class=" w3-twothird">
						<br/>
						Lo Studio Pez snc è partner per il territorio di Parma città, provincia e bassa reggiana di CAF LABOR (Caf promosso da Confeuro), ospitandone gli uffici.
						<b>Personale esperto, attento e disponibile</b> potrà pertanto aiutarti a:
						<ul class="w3-left-align">
						<li>Elaborare e trasmettere la <b>dichiarazione dei redditi</b> (modello 730/UNICO)
						<li>Calcolare le <b>imposte sugli immobili</b> (IMU)
						<li>Raccogliere, elaborare e trasmettere la <b>domanda ISE-ISEE</b>, il <b>modello RED</b>, le <b>domande ANF, MAT e ISEEU</b> per l’erogazione di tutta una serie di prestazioni sociali
						<li>Effettuare tutte le pratiche per la <b>successione ereditaria (senza testamento)</b>, con costi molto inferiori rispetto al notaio
						<li>Sbrigare tutte le pratiche necessarie per i contratti <b>COLF e BADANTI</b> (assunzioni, cessazioni, elaborazione paghe)
						</ul>
					</div>
					<div class="w3-third w3-hide-small">
						<br/>
						<img class="w3-image" src="/static/img/fisco.png" alt="Immagine abbellimento fisco">
					</div>
				</div>
			</div>
<!-- End Fisco -->
<!-- Contattaci -->
			<div id="contattaci" class="w3-container w3-center w3-section">
				<div class="w3-border-grey bottom-border">
					<img class="w3-imgage" src="/static/img/contatti_descrizione.png" alt="Immagine titoletto contatti">
				</div>
				<div class="w3-row-padding">
					<div class="w3-half">
						<br/>
						<h3>Sorbolo</h3>
						<i class="fa fa-phone" aria-hidden="true">&nbsp;</i>0521.694080<br/>
						<i class="fa fa-envelope-o" aria-hidden="true">&nbsp;</i> <a href="mailto:studiopez@virgilio.it">studiopez@virgilio.it</a><br/>
						<i class="fa fa-map-marker" aria-hidden="true">&nbsp;</i>via SS. Faustino e Giovita 14/16, Sorbolo (PR)<br/>
						<div id="mappa-parma" class="w3-container map-container"></div>
					</div>
					<div class=" w3-half">
						<br/>
						<h3>Parma</h3>
						<i class="fa fa-phone" aria-hidden="true">&nbsp;</i>0521.921998<br/>
						<i class="fa fa-envelope-o" aria-hidden="true">&nbsp;</i> <a href="mailto:parma@patronatolabor.it">parma@patronatolabor.it</a><br/>
						<i class="fa fa-map-marker" aria-hidden="true">&nbsp;</i>via Po 132, Parma (vicino alle Piccole Figlie)<br/>
						<div id="mappa-reggio" class="w3-container map-container"></div>
					</div>
				</div>

<!--				<div class="w3-row-padding">
					<div class="w3-container bm-15 w3-hide-large">
						<i class="fa fa-envelope-o" aria-hidden="true">&nbsp;</i> <a href="mailto:info@studiopez.it">info@studiopez.it </a>
 se ci daranno un indirizzo email con ili quale lavorare potremo implementare questa parte
						<h3>Scrivici a info@studiopez.it</h3>
						<form action="" method="post" enctype="text/plain">
							<input type="text" name="name" placeholder="Il tuo nome">
							<input type="email" name="mail" placeholder="Il tuo indirizzo e-mail"><br>
							<textarea name="message" placeholder="Il tuo messaggio"></textarea><br>
							<button type="submit">Invia</button>
							<button type="reset">Cancella</button>
						</form>
					</div>
-->
				</div>

			</div>
			<br/><br/>
<!-- End Contattaci -->
<!-- Footer -->
			<div id="footer" class="w3-bottom w3-white w3-center">
				<div class="w3-row w3-advance-architect w3-large w3-padding w3-hide-large">
					<div class="w3-half">
						<i class="fa fa-phone" aria-hidden="true">&nbsp;</i>0521.694080<br/>
					</div>
					<div class="w3-half">
						<i class="fa fa-map-marker" aria-hidden="true">&nbsp;</i>via SS. Faustino e Giovita 14/16, Sorbolo (PR)
					</div>
				</div>

				<div class="w3-row w3-advance-architect w3-medium w3-padding w3-hide-medium w3-hide-small">
					<div class="w3-quarter">
						<i class="fa fa-phone" aria-hidden="true">&nbsp;</i>0521.694080<br/>
						<i class="fa fa-phone" aria-hidden="true">&nbsp;</i>0521.921998
					</div>
					<div class="w3-quarter">
						<i class="fa fa-envelope-o" aria-hidden="true">&nbsp;</i> <a href="mailto:studiopez@virgilio.it">studiopez@virgilio.it </a><br/>
						<i class="fa fa-envelope-o" aria-hidden="true">&nbsp;</i> <a href="mailto:parma@patronatolabor.it">parma@patronatolabor.it </a>
					</div>
					<div class="w3-quarter">
						<i class="fa fa-map-marker" aria-hidden="true">&nbsp;</i>via SS. Faustino e Giovita 14/16, Sorbolo (PR)
					</div>
					<div class="w3-quarter">
						<i class="fa fa-map-marker" aria-hidden="true">&nbsp;</i>via Po 132, Parma (vicino alle Piccole Figlie)
					</div>
				</div>
			</div>
<!-- End Footer -->

		</div>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQCpd1sBrEqAUXE4fbilREy8F5ag1VYlE"></script>
		<script src="/static/js/jquery-3.2.1.slim.min.js"></script>
		<script src="/static/js/maps.js"></script>
		<script src="/static/js/app.js"></script>
	</body>
</html>
